* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #514bf3;
    --secondary-color: #e7c13c;
    --background-color: #f4f6f5;
    --background-color-two: #f8edfd;
}

html {
    font-size: 62.5%;
    font-family: 'Josefin Sans', sans-serif;
    ;
}

header {
    width: 100%;
    height: 90px;
    box-shadow: -1px 1px 5px #e7c13c;
}

.menu-desktop {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    height: inherit;
}

.container-logo {
    display: grid;
    place-items: center;
    height: inherit;
    width: 90px;
}

.container-logo a img {
    width: 70px;
    height: 70px;
}

.container-buttons {
    display: flex;
    justify-content: end;
    position: relative;
    height: inherit;
    width: 55%;
    margin-right: 1.5%;
}

.list-buttons {
    display: flex;
    width: 65%;
    align-items: center;
    justify-content: space-evenly;
    height: inherit;
    list-style: none;
    font-size: 1.8rem;
}

.list-buttons li a {
    color: var(--primary-color);
    text-decoration: none;
}

li i {
    color: var(--primary-color);
    font-size: 2.4rem;
    cursor: pointer;
}

.dropdown-content a {
    color: #514bf3;
    padding: 11px 12px; 
    font-size: 1.4rem;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #e7c13c;
    color: #f4f6f5;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-48%);
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px #514bf3;
    z-index: 1;
}

.dropdown {
    position: relative;
}

.title-app {
    font-size: 3.6rem;
    position: absolute;
    bottom: calc(50% - 25px);
    left: -100px;
}

.menu-mobile {
    display: none;
    justify-content: space-between;
    width: inherit;
    height: inherit;
}

.menu-mobile__item {
    display: grid;
    place-items: center;
    width: 96px;
    height: inherit;
}

.menu-mobile__item i {
    color: var(--primary-color);
    font-size: 35px;
}

.container-logo img {
    width: 76px;
    height: 76px;
}

.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100%;
    background: var(--background-color-two);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    transition: transform .5s ease-in-out;
    transform: translate(-100%);
}

.nav-menu__active {
    transform: translate(0);
}

.nav-menu a {
    font-size: 2rem;
    --secondary-color: #e7c13c;
    text-decoration: none;
    cursor: pointer;

}

.user-information {
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
    width: inherit;
    height: 40%;
}

.user-name-nav-mobile {
    font-size: 1.6rem;
}

.logout-button {
    display: flex;
    align-items: center;
    height: 40px;
    width: 90%;
    max-width: 140px;
    margin-top: 30px;
    padding: 25px 48px;
    border-radius: 12px;
    border: none;
    color: var(--background-color);
    background-color: var(--primary-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.title-section {
    margin-top: 40px;
    font-size: 2.4rem;
    font-weight: 500;

}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 100%;
    max-width: 1200px;
    height: 800px;
}

.product-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid 2px var(--primary-color);
    border-radius: 8px;
    width: 250px;
    height: 350px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    /* Añadí una transición para el cambio de color */
    background-color: #FFFFFF;
    /* Color de fondo original, puedes cambiarlo a lo que necesites */
}

.product-card:hover {
    transform: scale(1.1);
    /* Aumenta el tamaño en un 10% */
    background-color: #c5c3fa;
    /* Cambia el color de fondo al pasar el cursor por encima */
}

.product-card>img {
    width: 216px;
    height: 60%;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 15px;
    object-fit: fill;
}

.product-card__info {
    display: flex;
    align-items: center;
    width: 236px;
    margin: 0 auto;
    height: 40%;
}

.information-product {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 70%;
}

.product-title {
    font-size: 1.6rem;
    margin-left: 10px;
}

.price {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.6rem;
}

.stars {
    margin-top: 10px;
    margin-left: 10px;
}

.stars i {
    font-size: 1.6rem;
    color: var(--secondary-color);
}

.container-icon {
    display: grid;
    place-items: center;
    width: 30%;
    height: 70%;
}

.container-icon i {
    font-size: 36px;
    color: var(--primary-color);
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin-top: 50px;
    background-color: var(--background-color-two);
}

.footer-desktop {
    width: 100%;
    max-width: 900px;
    height: inherit;
    display: flex;
}

.footer-item__desktop {

    display: flex;
    justify-content: center;
    place-items: center;
    justify-content: center;
    height: inherit;
    width: 100%;
    max-width: 450px;
}

.footer-item__desktop p {
    font-size: 1.4rem;
}

.two {
    display: flex;
    flex-direction: column;
}

.two p {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 20px;
}

.icons-footer-content {
    width: 100%;
    height: 40px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.icons-footer-content i {
    font-size: 3rem;
    color: var(--primary-color);
}

.text__contact {
    margin-top: 20px;
    font-size: 1.6rem;
}

.texto-footer-mobile {
    text-align: center;
    padding: 40px;
    font-weight: bold;
    font-size: 1.8rem;
}

.location {
    width: 280px;
    height: 280px;
    border-radius: 50%;
}

.footer-mobile {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}
.bxs-log-out
    {

    }
@media (min-width: 1024px) {
    .menu-desktop {
        display: flex;
    }
}

@media (max-width: 1023px) {
    .menu-mobile {
        display: flex;
    }
}

@media (max-width: 1135px) {
    .section {
        overflow-y: scroll;
    }
}

@media (max-width: 580px) {
    footer {
        flex-direction: column;
        width: 100%;
        height: 600px;
    }

    .two {
        margin-bottom: 40px;
        margin: 0 auto;
    }

    .footer-item__desktop {
        margin: 0 auto;
    }

    .footer-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-desktop {
        display: none;
    }
}